@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Noto+Serif+KR&family=Satisfy&display=swap');


body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Satisfy', cursive;
  font-family: 'Noto Serif KR', serif;
}


@media (min-width: 650px) {
  .App {
    width: 640px
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
}

/* My Button */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  white-space: nowrap;
  /* 버튼 안의 글이 두줄이 되지 않게 */
  font-family: 'Satisfy', cursive;
}

.MyButton_default {
  background-color: #ececec;
  cursor: pointer;
}

.MyButton_positive {
  background-color: #64c964;
  color: rgb(5, 53, 5);

}

.MyButton_negative {
  background-color: #e83a3a;
  color: rgb(255, 255, 255);

}